html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#0f172a;
    color:white;
}

.python-page{
    display:flex;
}

/* ========================= */
/* Sidebar */
/* ========================= */

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:270px;
    height:100vh;
    overflow-y:auto;
    background:#111827;
    border-right:2px solid #1e293b;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    color:#38bdf8;
    margin-bottom:25px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    margin-bottom:8px;
    border-radius:8px;
    transition:.3s;
}

.sidebar a:hover{
    background:#2563eb;
    padding-left:20px;
}

/* ========================= */
/* Content */
/* ========================= */

.content{
    margin-left:310px;
    width:calc(100% - 310px);
    padding:50px;
}

.content section{
    background:#111827;
    padding:30px;
    margin-bottom:40px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
}

.content h1{
    color:#38bdf8;
    margin-top:0;
    font-size:38px;
}

.content p{
    font-size:18px;
    line-height:1.8;
}

.content ul{
    font-size:18px;
}

pre{
    background:#020617;
    color:#4ade80;
    padding:20px;
    border-radius:10px;
    overflow:auto;
    font-size:16px;
    line-height:1.6;
}

hr{
    border:none;
    margin:35px 0;
}
/* ========================= */
/* Scrollbar */
/* ========================= */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#111827;
}

::-webkit-scrollbar-thumb{
    background:#2563eb;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
    background:#3b82f6;
}

/* ========================= */
/* Animation */
/* ========================= */

section{
    animation:fadeUp .7s ease;
}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(25px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

/* ========================= */
/* Mobile */
/* ========================= */

@media(max-width:900px){

.sidebar{

    position:relative;
    width:100%;
    height:auto;

}

.content{

    margin-left:0;
    width:100%;
    padding:20px;

}

.python-page{

    display:block;

}

.content h1{

    font-size:30px;

}

pre{

    font-size:14px;

}

}