{% extends "base.html" %}

{% block title %}
Cyber Security
{% endblock %}


{% block content %}

<section class="projects">

<h1>🔐 Cyber Security Projects</h1>


<div class="project-container">

<div class="project-card">
<h2>Password Security</h2>
<p>Learn password protection concepts.</p>
</div>


<div class="project-card">
<h2>Security Notes</h2>
<p>Cyber security learning resources.</p>
</div>


<div class="project-card">
<h2>Linux Basics</h2>
<p>Basic Linux commands and concepts.</p>
</div>

</div>

</section>

{% endblock %}