{% extends "base.html" %}

{% block title %}
Hero
{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-text">
        <h1>Hi, I'm Aniruddh 🚀</h1>

        <h2>AI & Cyber Security Learner</h2>

        <p>
            I am learning Python, Web Development and Cyber Security.
            Building my skills one step at a time.
        </p>

        <a href="/projects">
            <button>View Projects</button>
        </a>

    </div>


    <div class="hero-box">
        <h2>💻 Hacker Mode</h2>
        <p>Code • Learn • Build • Secure</p>
    </div>

</section>

{% endblock %}