{% extends "base.html" %}

{% block title %}
Home
{% endblock %}


{% block content %}

<h1>Welcome to Aniruddh's WORLD! 🚀</h1>

<p>Brings AI in your hand.</p>

<a href="/hero">
    <button>Explore</button>
</a>


<!-- Visitor Popup -->
<div id="visitorPopup" class="popup">

    <div class="popup-box">

        <span class="close" onclick="closePopup()">✖</span>

        <h2>Welcome 👋</h2>

        <p>Please share your details</p>

        <form action="/visitor-info" method="POST">

            <input type="text" name="name" placeholder="Your Name" required>

            <input type="email" name="email" placeholder="Your Email" required>

            <textarea name="message" placeholder="What are you looking for?"></textarea>

            <button type="submit">Submit</button>

        </form>

    </div>

</div>


<script>

function closePopup(){
    document.getElementById("visitorPopup").style.display="none";
}


window.onload=function(){
    document.getElementById("visitorPopup").style.display="flex";
}

</script>


{% endblock %}