{% extends "base.html" %}

{% block title %}
Projects
{% endblock %}


{% block content %}

<section class="projects">

<h1>My Projects 🚀</h1>

<p>Explore my work in Python, Web Development and Cyber Security.</p>


<div class="project-container">


<div class="project-card">

<h2>🐍 Python Projects</h2>

<p>
Python based projects and practical programs.
</p>

<a href="/python-projects">
<button>View Projects</button>
</a>

</div>



<div class="project-card">

<h2>🌐 Web Development</h2>

<p>
HTML, CSS, Flask and modern web projects.
</p>

<a href="/web-projects">
<button>View Projects</button>
</a>

</div>



<div class="project-card">

<h2>🔐 Cyber Security</h2>

<p>
Security learning projects and resources.
</p>

<a href="/cyber-projects">
<button>View Projects</button>
</a>

</div>


</div>

</section>


{% endblock %}