{% extends "base.html" %}

{% block title %}
Projects
{% endblock %}

{% block content %}

<section class="projects">

    <h1>My Projects 🚀</h1>

    <p>
        Some projects I am building while learning technology.
    </p>


    <div class="project-container">

        <div class="project-card">
            <h2>🐍 Python Projects</h2>
            <p>
                Small Python programs, automation scripts and experiments.
            </p>
            <button>View More</button>
        </div>


        <div class="project-card">
            <h2>🌐 Web Development</h2>
            <p>
                Websites built using HTML, CSS, Flask and Python.
            </p>
            <button>View More</button>
        </div>


        <div class="project-card">
            <h2>🔐 Cyber Security</h2>
            <p>
                Learning ethical hacking and security concepts.
            </p>
            <button>View More</button>
        </div>


    </div>

</section>

{% endblock %}