{% extends "base.html" %}

{% block title %}Learn Python{% endblock %}

{% block content %}

<div class="python-container">

    <div class="sidebar">
        <h2>Python Course</h2>

        <a href="#">Introduction</a>
        <a href="#">Installation</a>
        <a href="#">Variables</a>
        <a href="#">Data Types</a>
        <a href="#">Input & Output</a>
        <a href="#">If Else</a>
        <a href="#">Loops</a>
        <a href="#">Functions</a>
        <a href="#">Lists</a>
        <a href="#">Projects</a>

    </div>

    <div class="content">

        <h1>Learn Python</h1>

        <p>
            Welcome to the Python Course. Here you will learn Python
            step by step with simple explanations and examples.
        </p>

        <h2>Example</h2>

        <pre>
print("Hello World")
        </pre>

        <button>Next Lesson →</button>

    </div>

</div>

{% endblock %}