{% extends "base.html" %}

{% block title %}
Python Projects
{% endblock %}


{% block content %}

<section class="projects">

<h1>🐍 Python Projects</h1>

<div class="project-container">

<div class="project-card">
<h2>Calculator</h2>
<p>Basic Python calculator project.</p>
</div>


<div class="project-card">
<h2>Number Guessing Game</h2>
<p>A fun Python guessing game.</p>
</div>


<div class="project-card">
<h2>Password Generator</h2>
<p>Generate secure passwords using Python.</p>
</div>

</div>

</section>

{% endblock %}