{% extends "base.html" %}

{% block content %}

<h1>Python Tuples</h1>

<p>A tuple is a collection used to store multiple items in a single variable.</p>

<h2>Example</h2>

<pre>
fruits = ("Apple", "Banana", "Mango")

print(fruits)
print(fruits[0])
</pre>

<h2>Output</h2>

<pre>
('Apple', 'Banana', 'Mango')
Apple
</pre>

<h2>Important Points</h2>

<ul>
    <li>Tuples are ordered.</li>
    <li>Tuples are immutable (cannot be changed).</li>
    <li>Duplicates are allowed.</li>
</ul>

{% endblock %}