{% extends "base.html" %}

{% block title %}
Web Development
{% endblock %}


{% block content %}

<section class="projects">

<h1>🌐 Web Development Projects</h1>


<div class="project-container">

<div class="project-card">
<h2>Portfolio Website</h2>
<p>My personal Flask portfolio website.</p>
</div>


<div class="project-card">
<h2>Flask Website</h2>
<p>Dynamic websites using Python Flask.</p>
</div>


<div class="project-card">
<h2>Frontend Designs</h2>
<p>HTML and CSS based designs.</p>
</div>

</div>

</section>

{% endblock %}